
<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
<div class="menu-toggler sidebar-toggler">
</div>
<!-- END SIDEBAR TOGGLER BUTTON -->
<!-- BEGIN LOGO -->
<div class="logo">
  <%=image_tag "new_theme/admin/layout4/img/logo-big.png", :alt=> "LOGO" %>
</div>
<!-- END LOGO -->
<!-- BEGIN LOGIN -->
<div class="content">
  <!-- BEGIN LOGIN FORM -->
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'login-form'}) do |f| %>
    <%= devise_error_messages! %>
    <h3 class="form-title">Sign In</h3>
    <div class="alert alert-danger display-hide">
      <button class="close" data-close="alert"></button>
      <span>
      Enter any username and password. </span>
    </div>
    <div class="form-group">
      <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
      <label class="control-label visible-ie8 visible-ie9">Username</label>
      <%= f.email_field :email, :autofocus => true, class: 'form-control form-control-solid placeholder-no-fix',placeholder: "E-mail", :required=>true %>
    </div>
    <div class="form-group">
      <label class="control-label visible-ie8 visible-ie9">Password</label>
      <%= f.password_field :password, class: 'form-control form-control-solid placeholder-no-fix', placeholder: "Password",:required => true ,:minlength=>8%>
    </div>
    <div class="form-actions">
      <%= button_tag(type: 'submit', class: "btn btn-success uppercase") do %>
       Login
      <% end %>

      <% if devise_mapping.rememberable? -%>
        <%= f.check_box :remember_me %> 
        <%= f.label :remember, :class=>"rememberme check" %>
      <% end -%>

      <a href="javascript:;" id="forget-password" class="forget-password">Forgot Password?</a>
    </div>
<!--     <div class="login-options">
      <h4>Or login with</h4>
      <ul class="social-icons">
        <li>
          <a class="social-icon-color facebook" data-original-title="facebook" href="javascript:;"></a>
        </li>
        <li>
          <a class="social-icon-color twitter" data-original-title="Twitter" href="javascript:;"></a>
        </li>
        <li>
          <a class="social-icon-color googleplus" data-original-title="Goole Plus" href="javascript:;"></a>
        </li>
        <li>
          <a class="social-icon-color linkedin" data-original-title="Linkedin" href="javascript:;"></a>
        </li>
      </ul>
    </div> -->
    <div class="create-account">
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;
      </p>
    </div>
  <% end %>
  <!-- END LOGIN FORM -->
  <!-- BEGIN FORGOT PASSWORD FORM -->

  <!-- END FORGOT PASSWORD FORM -->
</div>

<script>
jQuery(document).ready(function() {
  Login.init();
});
</script>