<p id="notice"><%= notice %></p>

<p>
  <strong>Imei no:</strong>
  <%= @device.imei_no %>
</p>

<p>
  <strong>Device type:</strong>
  <%= @device.device_type %>
</p>

<p>
  <strong>Sim no:</strong>
  <%= @device.sim_no %>
</p>

<p>
  <strong>User:</strong>
  <%= @device.user_id %>
</p>

<%= link_to 'Edit', edit_admin_device_path(@device) %> |
<%= link_to 'Back', admin_devices_path %>
