<!DOCTYPE html>
<html>
<head>
  <title>Myapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <%#= javascript_include_tag 'http://maps.googleapis.com/maps/api/js'%>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=geometry&sensor=true" ></script>
</head>

  <%unless user_signed_in?%>
    <%= stylesheet_link_tag "login", media: "all"%>
    <%= javascript_include_tag "login"%>
    <body class="login">
      <%= render "layouts/flash_messages" %>
      <div class="page-container">
        <%= yield %>
      </div>
  <%else%>
    <%= stylesheet_link_tag "layout4", media: "all"%>
    <%= javascript_include_tag "layout4"%>
    <body class="page-header-fixed page-sidebar-closed-hide-logo">
    <%= render "layouts/header"%>
    <%#= render "layouts/menu" %>
    <%= render "layouts/flash_messages" %>
    <div class="page-container">
    <!-- <div class="page-container" style="margin-top:0px;"> -->
      <%= render "layouts/sidebar"%>
      <%= yield %>
      <%#= render "admin/mysetups/footer"%>
    </div>
  <%end%>
</body>
</html>

<script type="text/javascript">
  jQuery(document).ready(function() {
  Metronic.init(); // init metronic core components
  Layout.init(); // init current layout
  Demo.init(); // init demo features
  // ComponentsPickers.init();
  UIBlockUI.init();
  });
</script>
